# <meta>
#    <source>@pssbletrngle/github-meta-generator</source>
#    <version>0.0.0-dev</version>
#    <timestamp>2026-05-08T11:14:25.727Z</timestamp>
#    <hash>8a524060bd3ca37</hash>
# </meta>

root = true


[*]

# Change these settings to your own preference
indent_style = space
indent_size = 4

# We recommend you to keep these unchanged
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# ktlint rules
[*.{kt,kts}]
ktlint_standard_no-unused-imports = enabled
ktlint_standard_no-wildcard-imports = disabled

[*.kt]
ktlint_standard_package-name = disabled

[*.kts]
ktlint_standard_property-naming = disabled

[*.md]
trim_trailing_whitespace = false

[*.{yml,json}]
indent_size = 2